body{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    margin-top:2em;
    -webkit-user-drag: none;
}

.title{
    font-size:3em;
}

.controls {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(56, 56, 59);
    height: 30%;
    margin-top:10%;
    padding-bottom:3%;
    margin-right: 2%;
    justify-content: center;
    border-radius: 12px;
}

.element{
    margin:1em;
}

.gridDisplay {
    text-align: center;
}

.gridSection,
.colorSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28em;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}



.button {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    cursor: pointer;
    transition: box-shadow .15s, transform .15s;
    margin: 1%;
    padding: 8%;
    font-size: 3em;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, 0.5) 0 4px 8px, rgba(45, 35, 66, 0.4) 0 10px 15px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: #F2F2F3;
}

.button:active {
    /* Give it a pressed look with a gradient background transitioning to the orange */
    background: linear-gradient(145deg, #e5e74f, orange);

    /* Deepen the shadow for a more pressed feel */
    box-shadow: rgba(45, 35, 66, 0.4) 0 1px 2px, rgba(45, 35, 66, 0.3) 0 3px 6px -2px, #D6D6E7 0 -2px 0 inset;

    /* A small downward transition to give a feel of the button being pressed */
    transform: translateY(1px);
}


.click {
    /* A gradient background to make it more interesting */
    background: linear-gradient(145deg, rgb(0, 255, 170), #FC8A00);
    /* Adding a deeper shadow for depth */
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 8px 12px -3px;
    }

#colorpicker{
    width: 100px;
    height: 100px;
}

.title{
    margin:4%;
}

.shade-off{
    background-color: rgb(226, 250, 250);
}




/* .on{
    background-color: rgb(0, 0, 0);
    color: white;
} */

/* 
.on {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.31);
} */

.custom-cursor{
    cursor:crosshair;
}

.grid {
    background-color: hsl(0, 0%, 100%);
    border: 0.002px solid rgba(0, 0, 0, 0.092);
    flex-grow: 1;
}



.gridContainer {
    background-color: orange;
    width: 960px;
    height: 960px;
    border: 1px solid rgb(215, 213, 213);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.row {
    /* width:100%; */
    background-color: hsl(0, 0%, 100%);
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    height: 20px;
    flex-grow: 1;
}



